fastapi
uvicorn[standard]
gunicorn
python-multipart
pydantic
sqlalchemy
psycopg2-binary
pgvector
python-dotenv
requests
numpy
pypdf
python-docx
alembic
pytest
httpx
transformers
sentence-transformers
torch
